{% extends "item.j2" %}

{% block description %}
{{super()}}
<h5> Author: {{author.name}}</h5>

<p>Genre: {{book.genre}} <br>
   Published by: {{book.publisher.name}}</p>

<p>
{{book.description}}
</p>

{% endblock %}

{% block image %}
{{super()}}
<a href={{url_for('author', last_bit=author.id)}}> More books by {{author.name}} </a>
<a href={{url_for('publisher', last_bit=book.publisher.id)}}> More books Published by {{book.publisher.name}} </a>
{% endblock %}