{% extends "master.j2" %}
{% block title %} Home {% endblock %}

{% block content %}
{{super()}}

<div class="container" id='features' style='margin-top:25px'>
{% for feature in featured %}
{{macros.store_item_feature(feature, featured[feature]["url"], featured[feature]["items"])}}
{% endfor %}
</div>
{% endblock %}