{% extends "master.j2" %}
{% block title %} Home {% endblock %}
{% block home_active %} active {% endblock %}

{% block content %}
{{super()}}

<div class="container" id='features' style='margin-top:25px'>
<div class="logo row justify-content-center">
  <img src={{url_for('static', filename='res/BELogo.png')}} style='height:200px;'>
</div>
{% for feature in featured %}
{{macros.store_item_feature(feature, featured[feature]["url"], featured[feature]["items"])}}
{% endfor %}
</div>
{% endblock %}