{% extends "master.j2" %}
{% block title %} {{item.name}} {% endblock %}

{% block content %}

<div class='container' style='margin-top:25px'>
  <div class='row'>
    <div class='col' style='flex-grow:0'>
      <div>
      {% block image %}
        <img src={{url_for('static', filename='res/defaultBook.jpg')}} style='height:325px;'>  
      {% endblock %}
      </div>
    </div>
    <div class='col-5'>
      {% block description %}
      <h2> {{item.name}} </h2>
      <hr>
      {% endblock %}
    </div>
    <div class='col-3'>
      {% block buy_card %}
        {% if item.isSale() %}
          <span class='big-price'>{{item.getFormattedDiscountPrice()}}</span>
          <br>
          <del>{{item.getFormattedPrice()}}</del>
          <p> You save: <b>{{item.getFormattedCurrency(item.price - item.discount_price)}}!</b>
        {% else %}
          <b>{{item.getFormattedPrice()}}</b>
        {% endif %}
        <p>
        {% if item.quantity <= 10 %}
        Hurry, only {{item.quantity}} items left in stock!
        {% elif item.quantity <= 0 %}
        Sorry, this item is currently out of stock.
        {% else %}
        {{item.quantity}} items in stock.
        {% endif %}
        </p>
        <form action = "/addcart" method = "post">
            <input id='itemId' name='itemId' type="hidden" value={{item.id}}>
            <label for='quantity'>Quantity: </label>
            <input style="width:50px; margin-bottom: 10px" type='number' id='quantity' name="quantity" min="1" max={{item.quantity}} value="1">
            <br>
            <input type="submit" enabled={% if item.quantity <= 0 %} "false" {% else %} "true" {% endif %} class="btn btn-primary" value="Add To Cart">
        </form>
      {% endblock %}
    </div>
  </div>
</div>

{% endblock %}