{% extends "master.j2" %}

{% block content %}
{{super()}}

<div class="container" style='margin-top:10px;'>
    <div class="row">
        <div class="col">
            <h2> Order Submitted </h2>
            <p> Order # {{order.id}} </p>
            <p> Tracking # {{order.tracking}} </p>
            <a href={{url_for('orderdetails', order_id=order.id)}} class="btn btn-primary"> See order details </a>
            <br>
            <a href={{url_for('account')}}> See all orders </a>
        </div>
    </div>
</div>

{% endblock %}
